
# Auxiliray directory, for use with latexmk.
aux/
# Biber
*.blg

# Build directory, anywhere in the source tree
**/build/

# Documentation
ocs/*

# TeX
*.aux
*.log
*.out
*.synctex.gz

# Vim
*.swo
*.swp

# macOS
.DS_Store

